<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>IF.Tech</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="{% url 'programacao_list' %}" class="brand-logo">IF.TECH</a>
        </div>
    </nav>
    <div class="container">
        {% block conteudo %}

        {% endblock %}
    </div>
</body>

</html>